<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We’ll use your approximate device location to define your translated language</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Please allow microphone to use voice translation</string>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSans-Bold.ttf</string>
		<string>NotoSans-BoldItalic.ttf</string>
		<string>NotoSans-Italic.ttf</string>
		<string>NotoSans-Regular.ttf</string>
	</array>
</dict>
</plist>
